:root {
  --primary: #dad7cd;
  --secondary: #a3b18a;
  --third: #588157;
  --fourth: #3a5a40;
  --fifth: #344e41;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
    width: 100vw;
    /* padding:0% 0% 2% 0%; */
}

/* header */
.header{
  background-color: var(--secondary);
}

.navLink:hover{
  transform: scale(115%);
}

.universityLogos{
  width:5vw;
  align-self: center;
}

.projList:hover {
  border-color: yellow !important;
  transform: scale(105%);
  transition: .5s ease;
  opacity: .5;

}

.individualLogos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm {
  justify-items: center;
}

.form-field{
  margin:1% 0 1% 0;
}

/* footer */
.footer {
  background-color: var(--secondary);
}

.footer a{
  color: black;
}